<!DOCTYPE html>
<html>
<head>
    <title>Forbidden Card Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
</head>
<body>
<div class="site">
    <h1>Forbidden Card Checker</h1>
    <p>Deck-Input (Format: card amount, card name):</p>
    <textarea class="input-field" form="card_form" name="cards"></textarea>
    <form id="card_form" action="/forward/" method="post">
        <button name="checkBtn" type="submit">Check</button>
        <button name="sampleBtn" type="submit">Sample</button>
    </form>
</div>
</body>
</html>